<!DOCTYPE html>
<html>
<head>
	<title>Django Girls blog</title>
</head>
<body>
    <div>
    	<h1><a href="/">Django Girls Blog</h1></a>
    </div>
    
    <div>
    	<p>published: 23.11.2019, 3:11</p>
    	<h2><a href="">My first post</a></h2>
    	<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibul um. Donec id elit non mi porta gravida at eget netus. Fusce dapibus, tellus ac cursus comm odo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
    
    <div>
    	<p>published: 23.11.2019, 3:11</p>
    	<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibul um. Donec id elit non mi porta gravida at eget netus. Fusce dapibus, tellus ac cursus comm odo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>		
    <div>
    	<p>published: 23.11.2019, 3:11</p>
    	<h2><a href="">My second post</a></h2>
    	<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibul um. Donec id elit non mi porta gravida at eget netus. Fusce dapibus, tellus ac cursus comm odo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>		
</body>
</html>